@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;  
    --text-color: #9C9AB6;
  }

body,.app {  
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    margin: auto auto;
}

.timers {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-bottom: 25px;
}

.timercontent h1 {
    color: var(--purple);
    font-size: 36px;
}

.image {
    margin-left: 50px;
    backface-visibility: hidden;
}

.type {
    color: var(--light-grey);
    font-size: 14px;
}

.content,.separator {
    color:var(--black);
    font-size: 72px;
}

.subscribe {
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 25px;
}

.timercontent button {
    background-color: var(--purple);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: white;
    width: 160px;
    height: 46px;
    transform: all linear 500ms;
}

.timercontent button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.app2 {
    height: 100vh;
    width: 100vw;
    background-color: #31333809;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.bottomimage img {
    width: 100%;
}

@media only screen and (max-width:1260px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: row;
        max-width: 2000px;
        margin: auto auto;
    }

    .image img {
        width: 400px;
    }
}


@media only screen and (max-width:950px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 2000px;
        margin: auto auto;
    }

    .image img {
        width: 350px;
        margin-top: 20px;
    }
}

@media only screen and (max-width:480px) {
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .timercontent h1 {
        color: var(--purple);
        font-size: 26px;
    }
    
    .image {
        margin-left: 50px;
    }
    
    .type {
        color: var(--light-grey);
        font-size: 12px;
    }
    
    .content,.separator {
        color:var(--black);
        font-size: 52px;
    }
    
    .subscribe {
        color: var(--text-color);
        font-size: 14px;
        margin-bottom: 25px;
    }
}